<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Назад" class="text-white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="cx cy">
    <div class="ion-margin">
      <div class="ion-padding-top">
        <h1 class="bold">Авторизация</h1>
      </div>
      <div class="ion-padding-top">
        <div>Введите ваш почтовый адрес и пароль указанные при регистрации</div>
      </div>
      <ion-list lines="full" class="ion-padding-top">
        <ion-item>
          <ion-label position="fixed">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email" placeholder="введите ваш e-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Пароль</ion-label>
          <ion-input type="password" [(ngModel)]="password" placeholder="придумайте пароль"></ion-input>
        </ion-item>
      </ion-list>
      <div class="cx my-1">
        <ion-button [disabled]="isSendLoginDisabled()" class="bold eurasian-color" color="none" size="medium" (click)="pendLogin()">ПРОДОЛЖИТЬ</ion-button>
      </div>
      <div class="cx my-1" *ngIf="loginPending">
        <ion-spinner name="lines"></ion-spinner>
      </div>
      <div class="ion-padding-top ion-text-center">
        <div>Не помните пароль? Нажмите "Восстановить пароль"</div>
      </div>
      <div class="cx my-1">
        <ion-button [disabled]="isRecoveryPasswordDisabled()" class="bold eurasian-color" color="none" size="medium" (click)="resetPassword()">ВОССТАНОВИТЬ ПАРОЛЬ</ion-button>
      </div>
    </div>
  </div>
</ion-content>
