<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button text="Назад" class="text-white"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="">
    <div class="ion-margin">
      <div class="ion-padding-top">
        <h1 class="bold">Новый пользователь</h1>
      </div>
      <div class="ion-padding-top">
        <div>Заполните данные чтобы зарегистрироваться и получить доступ к покупке и просмотру журналов</div>
      </div>
      <ion-list lines="full" class="ion-padding-top">
        <ion-item>
          <ion-label position="fixed">E-mail</ion-label>
          <ion-input type="email" [(ngModel)]="email" placeholder="введите ваш e-mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Фамилия</ion-label>
          <ion-input [(ngModel)]="surname" placeholder="введите вашу фамилию"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Имя</ion-label>
          <ion-input [(ngModel)]="name" placeholder="введите ваше имя"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Пароль</ion-label>
          <ion-input type="password" [(ngModel)]="password" placeholder="придумайте пароль"></ion-input>
        </ion-item>
      </ion-list>
      <div class="cx my-1">
        <ion-button [disabled]="isGetCodeDisabled()" class="bold eurasian-color" color="none" size="medium" (click)="getCode()">продолжить</ion-button>
      </div>
      <div class="ion-padding-top" *ngIf="verifyCodeHasBeenSend">
        <div>Проверьте вашу почту и введите полученный проверочный код в поле ниже</div>
        <ion-item class="ion-padding-top">
          <ion-label position="fixed">Код</ion-label>
          <ion-input [(ngModel)]="verificationCode" placeholder="код подтверждения"></ion-input>
        </ion-item>
        <div class="cx my-1">
          <ion-button [disabled]="verificationCode.trim().length != 4" class="bold eurasian-color" color="none" size="medium" (click)="commitCode()">подтвердить</ion-button>
        </div>
        <div class="cx my-1" *ngIf="commitCodeSend">
          <ion-spinner name="lines"></ion-spinner>
        </div>
      </div>
    </div>
  </div>
</ion-content>
