ion-toolbar {
  --color: #ffffff;
  --background: #E21F2D;
  --ion-border-color: transparent;
}
.img-height{
  height: 40vh;
}
ion-card{
  //background-color: #e2dcdc;
  background-color: rgba(0,0,0,0.2);
  width: 80%;
}
