<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="dc font text-large">
      The Eurasian
    </ion-title>
    <div class="lang">
      <ion-select (ionChange)="p.setLang(p.lang)" [selectedText]="p.getShortLangName()" [(ngModel)]="p.lang" [okText]="p.tr('OK')" [cancelText]="p.tr('CANCEL')">
        <ion-select-option *ngFor="let lang of p.languages" [value]="lang[0]">{{lang[1]}}</ion-select-option>
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="">
    <div class="ion-margin">
      <ion-grid class="">
        <ion-row>
          <h5 class="bold">{{p.tr('Contact Us')}}</h5>
        </ion-row>
        <ion-row>
          <div class="font-small">

          </div>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="ion-padding-top font-small">
              {{p.tr('Phone:')}} <a href="tel:88003008118">8 (800) 300 81 18</a>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-padding-top font-small">
              Email: <a href="mailto:theeurasian@mail.ru">theeurasian@mail.ru</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="">
        <ion-row>
          <h5 class="bold">{{p.tr('Editorial Office address')}}</h5>
        </ion-row>
        <ion-row>
          <div class="font-small">
            <div>{{p.tr('8 Presnenskaya naberezhnaya, bldg. 1, Gorod Stolitz Business Center, P.O. Box 82, Moscow City')}}</div>
          </div>
        </ion-row>
        <ion-row>
          <div class="ion-padding-top font-small">
            {{p.tr('Phone:')}} <a href="tel:88003008118">8 (800) 300 81 18</a>
          </div>
        </ion-row>
      </ion-grid>
      <ion-grid class="">
        <ion-row>
          <h5 class="bold">{{p.tr('Editorial Office address in the Republic of Kazakhstan')}}</h5>
        </ion-row>
        <ion-row>
          <div class="font-small">
            <div>{{p.tr('25 Esenberlina street, AIFC, Nur-Sultan, 010000')}}</div>
          </div>
        </ion-row>
        <ion-row>
          <div class="ion-padding-top font-small">
            {{p.tr('Phone:')}} <a href="tel:87172381421">8 (7172) 38 14 21</a>
          </div>
        </ion-row>
      </ion-grid>

<!--      <div>-->
<!--        <h5 class="bold eurasian-text-color margin-from-contacts">Отправьте нам сообщение</h5>-->
<!--        <ion-item>-->
<!--          <ion-label position="floating">Текст сообщения</ion-label>-->
<!--          <ion-textarea [(ngModel)]="text"></ion-textarea>-->
<!--        </ion-item>-->
<!--        <div class="cx my-1">-->
<!--          <ion-button [disabled]="props.userId == ''" class="bold eurasian-color" color="none" size="medium" (click)="sendEmail()">ОТПРАВИТЬ</ion-button>-->
<!--        </div>-->
<!--        <div class="font-small ion-text-center" *ngIf="props.userId == ''">-->
<!--          Авторизуйтесь чтобы иметь возможность отправить сообщение-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</ion-content>
